.gamepage-background {
    height: 100vh;
    width: 100vw;
    background-color: #2d3038;
    display: flex;
    overflow: auto;
}

.gameboard-column {
    height: 95%;
    width: 85%;
    margin: 20px;
    background-color: #DEB584;
    border-radius: 15px;
}

.chat-column {
    width: 20%;
    height: 95%;
    margin: 20px;
}