body {
    background-color: #a2aba5;
}

.game-screen {
    display: flex;
    
    height: 100vh;
    width: 100%;
    outline: auto;
}

.header {
    height: 5%;
}

.info-box {
    position: absolute;
    top: 30px;
    right: 30px;
}

.deck {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.table {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.other-1 {
    position: absolute;
    transform: translate(0, -280px);
}

.other-2 {
    position: absolute;
    transform: translate(-380px, -240px);
}

.other-3 {
    position: absolute;
    transform: translate(380px, -240px);
}

.other-4 {
    position: absolute;
    transform: translate(560px, 0px);
}

.other-5 {
    position: absolute;
    transform: translate(-560px, 0px);
}

.player-items {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    right: 30px;
    bottom: 0px;
}

.player-items .coins {
    position: relative;
    bottom: 8px;
    display: flex;
}

.player-items .coins .coin {
    position: absolute;
    left: -130px;
}

.name-tag {
    background-color: orange;
    padding: 3px 80px 3px 10px;
    border-radius: 10px;
    position: absolute;
    transform: translate(30px, 115px);
    filter: drop-shadow(2px 2px 4px black);
}

.player-card-1, .player-card-2 {

}